<div class="wrapper">
  <app-header />
  <div class=" filter-section flex space-between">
    <h1>Extension List</h1>
    <div class="filter-buttons flex">
      <app-button [buttonlabel]="'All'" [buttonSize]="'medium'" (clicked)="setFilter('all')" [class.active]="filterSignal() === 'all'"/>
      <app-button [buttonlabel]="'Active'" [buttonSize]="'medium'" (clicked)="setFilter('active')" [class.active]="filterSignal() === 'active'"/>
      <app-button [buttonlabel]="'Inactive'" [buttonSize]="'medium'" (clicked)="setFilter('inactive')" [class.active]="filterSignal() === 'inactive'"/>
    </div>
  </div>
  

  <main class="cards-container">
    @if (filteredExtensions().length > 0) {
      @for (ext of filteredExtensions(); track ext.name) {
        <app-extension-card
          [extension]="ext"
          (remove)="removeExtension(ext)"
          (toggle)="toggleExtension($event)"
        />
      }
    } @else {
      <div class="empty-state">
        @if (filterSignal() === 'active') {
          <p>You don't have any active extensions.</p>
        } @else if (filterSignal() === 'inactive') {
          <p>You don't have any inactive extensions.</p>
        } @else {
          <p>You don't have any extensions available at the moment.</p>
          <app-button
            [buttonlabel]="'Reset Extensions'"
            (clicked)="resetExtensions()"
          />
        }
      </div>
    }
  </main>
</div>

